<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</head>
<style>
  #tab-content div {
  display: none;
}

#tab-content div.is-active {
  display: block;
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    
    
}
.gallery img:hover{
    transform: scale(1.1);
}

</style>
<body>
  <section class="hero is-medium is-info">
 
    <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
           <li>
            <a href="/main">Gallery</a>
          </li>
          <li>
            <a href="/cake">Cake</a>
          </li>
          <li>
            <a href="/desserts">Buy Desserts</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
         </ul>
      </nav>
      </div>
    </div>
  </section>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          CakesByLucky
        </h1>  
      </div>
    </div>
  </section>
<div class="tabs is-centered has-shadow" id="tabs">
  <ul>
    <li class="is-active" data-tab="1">
      <a>
        <span>Baby Shower</span>
      </a>
    </li>
    <li data-tab="2">
      <a>
        <span>Birthday</span>
      </a>
    </li>
    <li data-tab="3">
      <a>
        <span>Bridal Shower</span>
      </a>
    </li>
    <li data-tab="4">
      <a>
        <span>Engagement</span>
      </a>
    </li>
    <li data-tab="5">
      <a>
        <span>Graduation</span>
      </a>
    </li>
    <li data-tab="6">
      <a>
        <span>Mehndi</span>
      </a>
    </li>
    <li data-tab="7">
      <a>
        <span>Special Events</span>
      </a>
    </li>
    <li data-tab="8">
      <a>
        <span>Wedding Cakes</span>
      </a>
    </li>
  </ul>
</div>
<section class="section">
<div id="tab-content">
  <div class="gallery is-active" data-content="1">
    <a href="/images/baby1.jpg" data-lightbox="mygallery"><img src="/images/baby1.jpg" height="300"></a>
    <a href="/images/baby2.jpg" data-lightbox="mygallery"><img src="/images/baby2.jpg" height="300"></a>
    <a href="/images/baby3.jpg" data-lightbox="mygallery"><img src="/images/baby3.jpg" height="300"></a>
    <a href="/images/baby4.jpg" data-lightbox="mygallery"><img src="/images/baby4.jpg" height="300"></a>
    <a href="/images/baby6.jpg" data-lightbox="mygallery"><img src="/images/baby6.jpg" height="300"></a>
    <a href="/images/baby7.jpg" data-lightbox="mygallery"><img src="/images/baby7.jpg" height="300"></a>
    <a href="/images/baby8.jpg" data-lightbox="mygallery"><img src="/images/baby8.jpg" height="300"></a>
    <a href="/images/baby9.jpg" data-lightbox="mygallery"><img src="/images/baby9.jpg" height="300"></a>
    <a href="/images/baby10.jpg" data-lightbox="mygallery"><img src="/images/baby10.jpg" height="300"></a>
    <a href="/images/baby11.jpg" data-lightbox="mygallery"><img src="/images/baby11.jpg" height="300"></a>
    <a href="/images/baby13.jpg" data-lightbox="mygallery"><img src="/images/baby13.jpg" height="300"></a>
    <a href="/images/baby14.jpg" data-lightbox="mygallery"><img src="/images/baby14.jpg" height="300"></a>
    <a href="/images/baby15.jpg" data-lightbox="mygallery"><img src="/images/baby15.jpg" height="300"></a>
    <a href="/images/baby16.jpg" data-lightbox="mygallery"><img src="/images/baby16.jpg" height="300"></a>
    <a href="/images/baby17.jpg" data-lightbox="mygallery"><img src="/images/baby17.jpg" height="300"></a>
    <a href="/images/baby5.jpg" data-lightbox="mygallery"><img src="/images/baby5.jpg" height="300"></a>
    <a href="/images/baby12.jpg" data-lightbox="mygallery"><img src="/images/baby12.jpg" height="300"></a>    
    </div>
 
  <p data-content="2">
    Birthday
  </p>
  <p data-content="3">
    bridal
  </p>
  <p data-content="4">
    engagement
  </p>
   <p data-content="5">
    graduation
  </p>
   <p data-content="6">
    Mehndi
  </p>
  <p data-content="7">
    special events
  </p>
  <p data-content="8">
    wedding
  </p>
  </section>
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/cake">Cakes</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</body>
<script type="text/javascript">
  $(document).ready(function() {
  $('#tabs li').on('click', function() {
    var tab = $(this).data('tab');

    $('#tabs li').removeClass('is-active');
    $(this).addClass('is-active');

    $('#tab-content div').removeClass('is-active');
    $('div[data-content="' + tab + '"]').addClass('is-active');
  });
});
</script>
</html>
