<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
</head>
<body>
  <nav class="navbar is-primary is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item" href="/main">
        CakesByLucky
      </a>
    </div>
<!--
    <div class="navbar-end">
      <a class="navbar-item" href="/cake">
        Cakes
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">About</a>
        </div>
      </div>
    </div>
  -->
  </nav>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          CakesByLucky
        </h1>
        <h2 class="subtitle">
          Some profound statement about this project.
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Cakes' Gallery</h1>
      <h2 class="subtitle">
        Some example cakes that we've created.
      </h2>
      <div class="columns">
        <div class="column">
          <!-- placeholder -->
          <img src="http://images.bigoven.com/image/upload/t_recipe-256/boxed-cake-mix-tastes-like-bakery-c.jpg">
        </div>
        <div class="column">
          <!-- placeholder -->
          <img src="http://images.bigoven.com/image/upload/t_recipe-256/boxed-cake-mix-tastes-like-bakery-c.jpg">
        </div>
        <div class="column">
          <!-- placeholder -->
          <img src="http://images.bigoven.com/image/upload/t_recipe-256/boxed-cake-mix-tastes-like-bakery-c.jpg">
        </div>
        <div class="column">
          <!-- placeholder -->
          <img src="http://images.bigoven.com/image/upload/t_recipe-256/boxed-cake-mix-tastes-like-bakery-c.jpg">
        </div>
      </div>
    </div>
  </section>
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/cake">Cakes</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</body>
</html>
