<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>
</head>
<body>
 
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          CakesByLucky
        </h1>  
      </div>
    </div>
    <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
           <li>
            <a href="/main">Gallery</a>
          </li>
          <li>
            <a href="/cake">Cake</a>
          </li>
          <li>
            <a href="/checkout">Checkout</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
         </ul>
      </nav>
      </div>
    </div>
  </section>
  <nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <a class="navbar-item is-tab is-active" >
        Baby Shower
      </a>
      <a class="navbar-item is-tab">
        Birthday
      </a>
      <a class="navbar-item is-tab">
        Bridal Shower
      </a>
      <a class="navbar-item is-tab">
        Engagement
      </a>
      <a class="navbar-item is-tab">
        Graduation
      </a>
      <a class="navbar-item is-tab">
        Mehndi
      </a>
      <a class="navbar-item is-tab">
        Special Events
      </a>
       <a class="navbar-item is-tab">
        Wedding Cakes
      </a>
    </div>
  </div>
</nav>
  <section class="section">
    <div class="container">
      <h1 class="title">Cakes' Gallery</h1>
  <div  class="gallery">
    <div class="image is-128x128">
</div>

    </div>
    </div>
  </section>
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/cake">Cakes</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</body>
</html>
